modules = ["python-3.11", "nodejs-20", "postgresql-16"]
run = "npm run dev"

[nix]
channel = "stable-25_05"
packages = ["arrow-cpp", "glibcLocales", "libyaml", "pkg-config"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39041
externalPort = 3000

[deployment]
run = "npm start"
build = "npm run build"
deploymentTarget = "cloudrun"

[agent]
integrations = ["resend:1.0.0"]

[userenv]

[userenv.shared]
VITE_PAYPAL_CLIENT_ID = "9FA93901X80997422"
VITE_PAYPAL_PLAN_ID = "P-7MD97450VP279543SNEHWHRI"
